<div class="row justify-content-center">
  <div>
    <table class="table table-bordered table-striped table-hover table-responsive">
      <thead class="thead-dark">
        <th scope="col">#</th>
        <th scope="col"> Documento </th>
        <th scope="col"> Acciones</th>
      </thead>
      <tr>
        <td scope="row" style="font-weight:bold; color: rgb(5, 5, 150);">
          1
        </td>
        <td> <div class="d-flex justify-content-center">
          <img src="assets/img/comprobante1.png" width="400px" height="300" alt="">
        </div></td>
        <td>
          <div>
            <button type="button" class="btn btn-primary" style="width: 150px; margin-right:50px"> Aceptar </button> <button type="button" class="btn btn-danger"  style="width: 150px;"> Rechazar </button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row" style="font-weight:bold; color: rgb(5, 5, 150);">
          2
        </td>
        <td> <div class="d-flex justify-content-center">
          <img src="assets/img/comprobante2.jpg" width="400px" height="300" alt="">
        </div></td>
        <td>
          <div>
            <button type="button" class="btn btn-primary" style="width: 150px; margin-right:50px"> Aceptar </button> <button type="button" class="btn btn-danger"  style="width: 150px;"> Rechazar </button>
          </div>
        </td>
      </tr>
      <tr>
        <td scope="row" style="font-weight:bold; color: rgb(5, 5, 150);">
          3
        </td>
        <td> <div class="d-flex justify-content-center">
          <img src="assets/img/comprobante3.jpg" width="400px" height="300" alt="">
        </div></td>
        <td>
          <div>
            <button type="button" class="btn btn-primary" style="width: 150px; margin-right:50px"> Aceptar </button> <button type="button" class="btn btn-danger"  style="width: 150px;"> Rechazar </button>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
