<div class="container">
  <div class="table-responsive">
    <table class="table table-hover border rounded">
      <thead id="theader" class="table-dark bg-dark align-middle">
        <th scope="col" class="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Cédula</th>
        <th scope="col">Correo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Tipo de Curso</th>
        <th scope="col">Cursos</th>
        <th scope="col">Acciones</th>
      </thead>
      <tbody class="">
        <ng-container *ngFor="let row of listaEstudiantes; let i = index">
          <tr class="align-middle">
            <td scope="row" style="font-weight: bold">
              {{ i + 1 }}
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.nombre_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.cedula_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.correo_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.telefono_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.tipo_estudiante }}
              </div>
            </td>
            <td>
              <div class="d-flex justify-content-center">
                {{ row.curso_estudiante }}
              </div>
            </td>
            <td>
              <div>
                <button
                  type="button"
                  class="btn btn-primary m-2"
                  style="width: 150px;"
                  (click)="navegar()"
                >
                  Aceptar
                </button>
                <button
                  type="button"
                  class="btn btn-danger m-2"
                  style="width: 150px"
                  (click)="rechazar(row._id)"
                >
                  Rechazar
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
  <div class="d-flex flex-row-reverse">
    <div class="p-2">Mostrando {{ listaEstudiantes.length }} registros</div>
  </div>
</div>
