<html>

<body>
    <div class="card shadow p-3 mb-5 bg-white rounded" >
        <div class="card-body " >
            <h1> Comprobante</h1>
            <h6> Bienvenido Estimado Usuario </h6>
            <br><br>
            <div class="input-group">
                <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04"
                    aria-label="Upload">
                <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"></button>
            </div> <br>
            <button type="submit" id="btn"class="btn btn-outline-success" (click)="navegar()">ENVIAR</button>
        </div>
    </div>
</body>

</html>
